#header {
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 3vh;
  background-color: black;
  color: white;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0, 0, 0);
  display: block;
}
#left {
  width: 80vw;
  line-height: 22px;
}
#right {
  display: flex;
  justify-content: flex-end;
  margin-right: 2vw;
  position: absolute;
  top: 30vh;
  right: 0vw;
  width: 90vw;
  height: 64vh;
}
#back a {
  position: absolute;
  top: 13.6vh;
  right: 8vw;
  text-decoration: none;
  color: white;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}
#info {
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  padding: 3vh;
  margin-top: 2vh;
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  color: white;
}
